@model RealAccountCadastralDetail;
@{
    ViewData["Title"] = "Cadastral";
}

<p class="display-4 pr-3">🏊‍♀️ Cadastral Action</p>

<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Action Number</span>
                </div>
                <input type="text" class="form-control" value="@Model?.SelectedAction?.CAD_ACTN_NO">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Action Type</span>
                </div>
                @{
                    if (string.IsNullOrWhiteSpace(Model?.SelectedAction?.CAD_ACTN_TYPE))
                    {
                        <select class="custom-select" id="actionType">
                            <option selected></option>
                            <option value="ACCT">New Account</option>
                            <option value="COND">New Condominium</option>
                            <option value="DEL">Delete Account</option>
                            <option value="MGAC">Merge Subaccount</option>
                            <option value="MGSP">Merge/Split</option>
                            <option value="MOD">Modification</option>
                            <option value="MRGE">Merge</option>
                            <option value="PEND">Pending Action</option>
                            <option value="PLAT">New Plat</option>
                            <option value="SPLT">Split</option>
                            <option value="SUB">New Subaccount</option>
                        </select>
                    }
                    else
                    {
                        <input type="text" class="form-control" value="@Model?.SelectedAction?.CAD_ACTN_TYPE">

                    }
                }
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control" value="@Model?.SelectedAction?.CAD_ACTN_TYPE_DESCR">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Year Effective</span>
                </div>
                <input type="text" class="form-control" value="@Model?.SelectedAction?.CAD_ACTN_EFF_YR">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Action Reason</span>
                </div>
                @{
                    if (string.IsNullOrWhiteSpace(Model?.SelectedAction?.CAD_ACTN_RSN))
                    {
                        <select class="custom-select" id="actionType">
                            <option selected></option>
                            <option value="AC">Acreage Correction</option>
                            <option value="ADMN">Administrative Request</option>
                            <option value="BLA">Boundary Line Adjustment</option>
                            <option value="BSP">Binding Site Plan</option>
                            <option value="CONDO">Condominuium</option>
                            <option value="CU">Current Use</option>
                            <option value="DA">Dual Assessment</option>
                            <option value="IO">Improvement Only</option>
                            <option value="LL">Large Lot</option>
                            <option value="LP">Long Plat</option>
                            <option value="MG">Merge</option>
                            <option value="MH">Mobile Home</option>
                            <option value="NM">New Mapped Account</option>
                            <option value="PEND">Pending</option>
                            <option value="ROW">Right of way</option>
                            <option value="RR">Recorded request</option>
                            <option value="SC">Senior Citizen</option>
                            <option value="SP">Short Plat</option>
                            <option value="SPLT">Split</option>
                            <option value="TR">Taxpayer Request</option>
                        </select>
                    }
                    else
                    {
                        <input type="text" class="form-control" value="@Model?.SelectedAction?.CAD_ACTN_RSN">
                    }
                }
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control" value="@Model?.SelectedAction?.CAD_ACTN_RSN_DESCR">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date Canceled</span>
                </div>
                <input type="text" class="form-control" value="@Model?.SelectedAction?.CANCEL_DT?.ToShortDateString()">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Plat or Condo Nubmer</span>
                </div>
                <input type="text" class="form-control" value="@Model?.SelectedAction?.PLAT_NO">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control" value="@Model?.SelectedAction?.PLAT_NAME">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date Finalized</span>
                </div>
                <input type="text" class="form-control" value="@Model?.SelectedAction?.FINALIZED_DT?.ToShortDateString()">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="btn-group-toggle" data-toggle="buttons">
                    @{
                        if (Model?.SelectedAction?.NO_STMT == 'Y')
                        {
                            <label class="btn btn-secondary active">
                                <input type="checkbox" checked> No Statement
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-outline-secondary">
                                <input type="checkbox"> Statement
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date Completed</span>
                </div>
                <input type="text" class="form-control" value="@Model?.SelectedAction?.COMPLETED_DT?.ToShortDateString()">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="btn-group-toggle" data-toggle="buttons">
                    @{
                        if (Model?.SelectedAction?.ACCTS_LOCKED == 'Y')
                        {
                            <label class="btn btn-secondary active">
                                <input type="checkbox" checked> Accounts Locked
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-outline-secondary">
                                <input type="checkbox"> Accounts Not Locked
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-3">
            <div class="input-group">
                <a class="btn btn-danger btn-block" href="#">Add Action</a>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <a class="btn btn-danger btn-block" href="#">Prevent Statement</a>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <a class="btn btn-info btn-block" href="#">Real Property Account</a>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <a class="btn btn-danger btn-block" href="#">Finalize Action</a>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-3">
            <div class="input-group">
                <a class="btn btn-danger btn-block" href="#">Cancel Action</a>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <a class="btn btn-danger btn-block" href="#">Lock Accounts</a>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <a class="btn btn-danger btn-block" href="#">Modify Tax Records</a>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <a class="btn btn-danger btn-block" href="#">Complete Action</a>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="accounts-tab" data-toggle="tab" href="#accounts" role="tab" aria-controls="home" aria-selected="true">
            Accounts
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="steps-tab" data-toggle="tab" href="#steps" role="tab" aria-controls="home" aria-selected="true">
            Steps
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="home" aria-selected="true">
            Documents
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="warnings-tab" data-toggle="tab" href="#warnings" role="tab" aria-controls="home" aria-selected="true">
            Warnings
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="accounts" role="tabpanel" aria-labelledby="contacts-tab">
        <div class="table-responsive pt-3 pb-3">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            Process Number
                        </th>
                        <th scope="col">
                            Orignal Accounts
                        </th>
                        <th scope="col">
                            R/C
                        </th>
                        <th scope="col">
                            A/R/D
                        </th>
                        <th scope="col">
                            Copy
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var account in Model?.Actions)
                        {
                            if (account?.ORIG_NEW == 'O')
                            {
                                <tr>
                                    <td>@account?.RP_ACCT_ID</td>
                                    <td>@account?.ACCT_NO</td>
                                    <td>@account?.WORK_GROUP</td>
                                    @{
                                        if (account.REFERENCE_DT != null)
                                        {
                                            <td>@account.REFERENCE_DT?.ToShortDateString()</td>
                                        }
                                        else if (account.INACTIVE_DT != null)
                                        {
                                            <td>@account.INACTIVE_DT?.ToShortDateString()</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    <td>@account?.COPY_CHAR_FLAG</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <form method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">New Accounts</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <button type="submit" class="btn btn-danger btn-block">Generate New Numbers</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive pt-3">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            Process Number
                        </th>
                        <th scope="col">
                            New Accounts
                        </th>
                        <th scope="col">
                            R/C
                        </th>
                        <th scope="col">
                            A/R/D
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var account in Model?.Actions)
                        {
                            if (account?.ORIG_NEW == 'N')
                            {
                                <tr>
                                    <td>@account?.RP_ACCT_ID</td>
                                    <td>@account?.ACCT_NO</td>
                                    <td>@account?.WORK_GROUP</td>
                                    @{
                                        if (account.REFERENCE_DT != null)
                                        {
                                            <td>@account.REFERENCE_DT?.ToShortDateString()</td>
                                        }
                                        else if (account.INACTIVE_DT != null)
                                        {
                                            <td>@account.INACTIVE_DT?.ToShortDateString()</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade show" id="steps" role="tabpanel" aria-labelledby="steps-tab">
        <div class="table-responsive pt-3">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            Step Type
                        </th>
                        <th scope="col">
                            Step Type Description
                        </th>
                        <th scope="col">
                            Date Assigned
                        </th>
                        <th scope="col">
                            Assigned To
                        </th>
                        <th scope="col">
                            Date Completed
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="table-responsive pt-3 pb-3">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            Documents Type
                        </th>
                        <th scope="col">
                            Document Type Description
                        </th>
                        <th scope="col">
                            Auditor File Number
                        </th>
                        <th scope="col">
                            Other Reference Information
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade show" id="warnings" role="tabpanel" aria-labelledby="warnings-tab">
        <div class="table-responsive pt-3 pb-3">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            Warning or Override
                        </th>
                        <th scope="col">
                            Begin Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
