@model string;
@{
    ViewData["Title"] = "Real Property Reports";
}

<p class="display-4 pr-3">🏊‍♀️ Reports</p>

@{
    if (!string.IsNullOrWhiteSpace(Model))
    {
        <div class="alert alert-danger" role="alert">
            @Model
        </div>
    }
}

<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <a class="btn btn-block btn-info" href="http://kclis3.co.kitsap.local:9002/reports/rwservlet/showjobs?server=reportservertest" target="_blank">View Report Queue</a>
        </div>
    </div>
</div>
<form method="get">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">2nd Real Property Exhibit Page</button>
                </div>
            </div>
            <input hidden name="reportName" value="rckpendingrpt" />
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Accounts by account groups</button>
                </div>
                <input hidden name="reportName" value="LISRPARDELQACCTS" />

            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Accounts receiving Copy Statement</button>
                </div>
                <input hidden name="reportName" value="LISRPARLTROFDMD" />
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">CAD Accts with Missed Tax Statements</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Certificate of Delinquency Labels</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Contract for Treasurer's Deed</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">County Treasurer's Deed</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">End Dated AG/No TS/NO AG/No TS</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Exhibit A</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">FFP Refunds to State</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Mailing Labels/Accounts with Outstanding Balance</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Minimum Bid Sheet</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Missing Address Info (Copy Accts)</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">No Tax Stmt Flag/No AG/by Tax Yr</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Nox Weed/Cad Actn Report</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Opening Statement at Sale Notice</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Outstanding SSWM Fees</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">RP Accts Outstanding Taxes 10 yrs and older</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">RP Accts Owning - by Year</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">RP Curr Yr Past Due Accts</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">RP Exhibit for Press</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Surplus Exhibits</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Tax Deed</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Tax Judgement Sale Notice</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post">
    <div class="form-group">
        <div class="form-row">
            <div class="col-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-block btn-secondary">Tax Svcs Accts/still owing</button>
                </div>
            </div>
        </div>
    </div>
</form>
