@model DarkHorse.Mvc.RealAccountReceiptsDetail
@{
    ViewData["Title"] = "Receipts And Refunds";
}

<p class="display-4 pr-3">🏊‍♀️ Receipts And Refunds</p>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    Receipt Batch Number
                </th>
                <th scope="col">
                    Receipt Number
                </th>
                <th scope="col">
                    Refund Number
                </th>
                <th scope="col">
                    Type
                </th>
                <th scope="col">
                    Receipt or Refund Date
                </th>
                <th scope="col">
                    Account Number
                </th>
                <th scope="col">
                    Refund or Refund Amount
                </th>
                <th scope="col">
                    Cancel Date
                </th>
                <th scope="col">
                    Refund Print Check Date
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var receiptRefund in Model.ReceiptRefunds)
                {
                    <tr onclick="window.location='./@Model.Account.RP_ACCT_ID?receipt=@receiptRefund?.RECEIPT_ID'">
                        <td>
                            @receiptRefund?.RECEIPT_BATCH_ID
                        </td>
                        <td>
                            @receiptRefund?.RECEIPT_NO
                        </td>
                        <td>
                            @receiptRefund?.REFUND_ID
                        </td>
                        <td>
                            @receiptRefund?.REFUND_TYPE_SUB
                        </td>
                        <td>
                            @receiptRefund?.RECEIPT_REFUND_DT?.ToShortDateString()
                        </td>
                        <td>
                            @Model.Account?.ACCT_NO
                        </td>
                        <td>
                            @receiptRefund?.RECEIPT_REFUND_AMT?.ToString("N2")
                        </td>
                        <td>
                            @receiptRefund?.CANCEL_DT
                        </td>
                        <td>
                            @receiptRefund?.SENT_TO_QB_DT
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">RP Process Number</span>
                    </div>
                    <input type="number" class="form-control" value="@Model?.SelectedReceiptRefund?.RP_ACCT_OWNER_ID" readonly>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Petition Number</span>
                    </div>
                    <input type="number" class="form-control" value="@Model?.SelectedReceiptRefund?.REFUND_PETITION_NO" readonly>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Petition Sent</span>
                    </div>
                    <input type="date" class="form-control" value="@Model?.SelectedReceiptRefund?.PETITION_SENT_DT" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group mt-3">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cashier Number</span>
                    </div>
                    <input type="number" class="form-control" value="@Model?.SelectedReceiptRefund?.CASHIER_ID" readonly>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cancel Cashier Number</span>
                    </div>
                    <input type="number" class="form-control" value="@Model?.SelectedReceiptRefund?.CANCEL_CASHIER_ID" readonly>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">RP Process Number</span>
                    </div>
                    <input type="date" class="form-control" value="@Model?.SelectedReceiptRefund?.PETITION_RECEIVED_DT" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-info" href="#">Only Open Refunds with No Petition Number</a>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-info" href="#">Only Open Refunds</a>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-info" href="#">Only Ready to Print Refunds</a>
            </div>
        </div>
    </div>
</div>
<div class="form-group mt-3">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-secondary" asp-controller="Real" asp-action="Receipt" asp-route-id="@Model?.SelectedReceiptRefund?.RECEIPT_ID">Transactions</a>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-secondary" href="#">Payments</a>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-danger" href="#">Cancel Receipt</a>
            </div>
        </div>
    </div>
</div>
<div class="form-group mt-3">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-danger" href="#">Process 'A' Refund</a>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-danger" href="#">Approve 'O' Refund</a>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-secondary" href="#">Account Year</a>
            </div>
        </div>
    </div>
</div>
<div class="form-group mt-3">
    <div class="form-row">
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-primary" href="#">Re-Print</a>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-danger" href="#">Refund Payee</a>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <a class="btn btn-block btn-primary" href="#">Print Refund Check</a>
            </div>
        </div>
    </div>
</div>
